.idea/*
geckodriver.log
Organizer.md
src/__pycache__/*

videos_instagram/*
videos_youtube/*
videos_instagram_malibu/*
images/*

lib/credentials.json
lib/token.json

videos_instagram.csv
YouTubeVideos.csv

croped/*
fixed_images/*
masks/*
videos_tiburones.csv