.idea/*
src/__pycache__/*
geckodriver.log

videos_instagram/*
videos_youtube/*
images_label/*
images_raw/*

lib/credentials.json
lib/token.json

InstagramVideos.csv
YouTubeVideos.csv
videos_tiburones.csv
track_sharks.csv

images_croped/*
images_fixed/*
masks/*
videos_instagram_malibu/*
track_sharks.xlsx
~$track_sharks.xlsx
upload/*
